@page "/usuario"

@using GestionProyectos.Shared.Entities;
@using GestionProyectos.Client.Services;

@inject IModalService modal;
@inject IUsuario usuarioService;
@inject NavigationManager navegacion;

<EditForm Model="usuario" OnValidSubmit="OnValidSubmit" class="modal-personalizado">
    <div>
        <label class="form-label">Nombre</label>
        <InputText class="form-control" @bind-Value="usuario.Persona.Nombre" placeholder="Ingrese el nombre completo"></InputText>
        <ValidationMessage For="@(() => usuario.Persona.Nombre)"></ValidationMessage>
    </div>
    <div>
        <label class="form-label">Tipo identificación</label>
        <InputSelect class="form-control" @bind-Value="usuario.Persona.TipoIdentificacion">
            <option value="">Seleccione un tipo de identificación</option>
            <option value=1> Cedula </option>
            <option value=2> Pasaporte </option>
            <option value=3> RUC </option>
        </InputSelect>
        <ValidationMessage For="@(() => usuario.Persona.TipoIdentificacion)"></ValidationMessage>
    </div>
    <div>
        <label class="form-label">Nro identificación</label>
        <InputNumber class="form-control" @bind-Value="usuario.Persona.Cedula" placeholder="Seleccione un tipo de identificación"></InputNumber>
        <ValidationMessage For="@(() => usuario.Persona.Cedula)"></ValidationMessage>
    </div>
    <div>
        <label class="form-label">Email</label>
        <InputText class="form-control" @bind-Value="usuario.Persona.Email" placeholder="Ingrese el email"></InputText>
        <ValidationMessage For="@(() => usuario.Persona.Email)"></ValidationMessage>
    </div>
    <div>
        <label class="form-label">Contraseña</label>
        <InputText class="form-control" @bind-Value="usuario.Persona.Contrasenia" placeholder="Ingrese la contraseña"></InputText>
        <ValidationMessage For="@(() => usuario.Persona.Contrasenia)"></ValidationMessage>
    </div>
    @* <div>
        <label class="form-label">Rol</label>
        <InputNumber class="form-control" @bind-Value="usuario.PersonaE.rol"></InputNumber>
        <ValidationMessage For="@(() => usuario.Fkidrol)"></ValidationMessage>
    </div> *@
    <div class="mt-4">
    
        <button class="btn btn-warning w-50 btn-aceptar mr-4" type="submit">
            ACEPTAR
        </button>
        <a class="btn btn-warning w-30 btn-cancelar" href="usuarios">CANCELAR</a>
    </div>
</EditForm>


@code {

    UsuarioE usuario = new UsuarioE { Persona = new PersonaE() };

    private async Task OnValidSubmit()
    {
        string idDevuelto = null;

        // TODO: guardar el usuario
        /*idDevuelto = await usuarioService.Editar(actor);*/

        navegacion.NavigateTo("/usuarios");
    }

}
